.Home .lander {
    padding: 40px 0;
    text-align: center;
}

.Home .lander h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}
.Table {
    height: 400;
    width: 100%
}
.Dropdown {
    padding: 40 px;
    min-width: 120;
    width: max-content;
    display: inline-flex;
    text-align: left;
}